<form id="createProductForm">
    <label for="">Títutlo</label>
    <input type="text" name="title" id="">

        <label for="">Descripción</label>
    <input type="text" name="description" id="">

        <label for="">Precio</label>
    <input type="number" name="price" id="">

        <label for="">Estatus</label>
    <input type="boolean" name="status" id="">

        <label for="">Código</label>
    <input type="number" name="code" id="">

        <label for="">Existencia</label>
    <input type="number" name="stock" id="">

    <button type="submit">Crear Producto</button>
</form>